
.Jerôme
{
  font-weight: bold;

}
.Joe
{
  font-weight: bold;
}
.Jeff
{
  line-height: 160%;
}
.Bob
{
  line-height: 160%
}
.Stopmakingithardtoalign
{
  font-weight: bold;
}
.Jeffcitation
{
  line-height: 160%;
  margin-left: 40px
}
.Epilogue
{
  font-size: 27px;
  font-weight: bold;

  border-top: 2px solid black;
  padding-top: 20px;
}
body
{
  color: #444;
 max-width: 650px;
 margin: 40px auto;
 font-size: 18px;
padding: 0 10px;
}
